/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@mixin background($pos: top) {
    background-size: cover !important;
    background-position-x: center;
    background-position-y: calc(
        (var(--bg-crop)) * -2
    ) !important;
    background-repeat: no-repeat !important;
    transition: background-image background-color var(--transition-slow) linear;
}

/**
* Returns approximate offset required to cut off edge blur
* ("approximate" because the standard deviation used by the browser may differ)
*/
@function blur-offset($blur-radius) {
    // The amount of pixels affected by the CSS blur
    // filter is larger than the given blur radius.
    $sigma: calc($blur-radius * 1.5 / 3);
    @return calc($sigma * -4);
}

@mixin pseudo($pos: top) {
    content: "";
    position: fixed !important;
    pointer-events: none !important;
    z-index: -1 !important;

    top: blur-offset(var(--bg-crop));
    bottom: blur-offset(var(--bg-crop));
    left: blur-offset(var(--bg-crop));
    right: blur-offset(var(--bg-crop));

    @include background($pos);
}
