$canvas: var(--canvas);
$canvas-secondary: var(--canvas-secondary);
$canvas-code: var(--canvas-code);

$fg: var(--fg);
$fg-subtle: var(--fg-subtle);
$fg-disabled: var(--fg-disabled);

$link: var(--link);

$border: var(--border);
$border-subtle: var(--border-subtle);

$focus: var(--focus);
$shadow: var(--shadow);

$glass: var(--glass);
$glass-thick: var(--glass-thick);

$button: var(--button);
$button-gradient-start: var(--button-gradient-start);
$button-gradient-end: var(--button-gradient-end);
$button-disabled: var(--button-disabled);

$button-primary: var(--button-primary);
$button-primary-gradient-start: var(--button-primary-gradient-start);
$button-primary-gradient-end: var(--button-primary-gradient-end);
$button-primary-disabled: var(--button-primary-disabled);

$scrollbar: var(--scrollbar);
$scrollbar-hover: var(--scrollbar-hover);
$scrollbar-pressed: var(--scrollbar-pressed);

$input-bg: var(--input-bg);
$card: var(--card);
$note: var(--note);
$warning: var(--warning);
$flag-1: var(--flag-1);
$flag-2: var(--flag-2);
$flag-3: var(--flag-3);
$flag-4: var(--flag-4);
$flag-5: var(--flag-5);
$flag-6: var(--flag-6);
$flag-7: var(--flag-7);
$card-new: var(--card-new);
$card-learn: var(--card-learn);
$card-review: var(--card-review);
$card-buried: var(--card-buried);
$card-suspended: var(--card-suspended);
$card-marked: var(--card-marked);
$text-highlighted-bg: var(--text-highlighted-bg);
$text-highlighted-fg: var(--text-highlighted-fg);
$item-selected-bg: var(--item-selected-bg);
$item-selected-fg: var(--item-selected-fg);
$search-match-bg: var(--search-match-bg);
$search-match-fg: var(--search-match-fg);
