$font-size: var(--font-size);

$border-radius: var(--border-radius);
$border-radius-medium: var(--border-radius-medium);
$border-radius-large: var(--border-radius-large);

$blur: var(--blur);

$opacity-disabled: 0.4;
$opacity-idle: 0.55;
$opacity-hover: 0.8;

$transition: var(--transition);
$transition-medium: var(--transition-medium);
$transition-slow: var(--transition-slow);
