$font-size: var(--font-size);

$border-radius: var(--border-radius);
$border-radius-medium: var(--border-radius-medium);
$border-radius-large: var(--border-radius-large);

$blur: var(--blur);

$opacity-disabled: var(--opacity-disabled);
$opacity-idle: var(--opacity-idle);
$opacity-hover: var(--opacity-hover);

$transition: var(--transition);
$transition-medium: var(--transition-medium);
$transition-slow: var(--transition-slow);
