@use "colors";
@use "props";
@use "buttons";
@use "button-mixins" as button;
@use "scrollbar";
@use "background";

@import "normalize.css/normalize.css";

html,
body {
    height: 100%;
}

html {
    overscroll-behavior: none;
}

body {
    overflow-x: hidden;
    &:not(.isMac),
    &:not(.isMac) * {
        @include scrollbar.custom;
    }

    &.reduce-motion,
    &.reduce-motion *:not(.no-reduce-motion) {
        transition: none !important;
        animation: none !important;
    }

    &.no-blur * {
        backdrop-filter: none !important;
    }

    &:not(.fancy),
    &:not(.fancy) * {
        box-shadow: none !important;
        backdrop-filter: none !important;
    }

    &:not(.user-bg)::after {
        @include background.pseudo;
    }
}

button {
    /* override transition for instant hover response */
    transition: color props.$transition ease-in-out, box-shadow props.$transition ease-in-out !important;
    border-radius: props.$border-radius;
    @include button.base;
}

pre,
code,
kbd,
samp {
    unicode-bidi: normal !important;
}

.reduce-motion * {
    transition: none !important;
    animation: none !important;
}

label,
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

input[type="text"] {
    border-radius: props.$border-radius;
    outline: none;
    border: 1px solid colors.$border;

    &:focus {
        border-color: colors.$focus;
    }
}

html {
    font-size: props.$font-size;
    body {
        overscroll-behavior: none;
        &:not(.isMac),
        &:not(.isMac) * {
            @include scrollbar.custom;
        }
    }
}
