/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use "colors";
@use "props";

* {
    box-sizing: border-box;
}

body {
    color: colors.$fg;
    background: colors.$canvas;
    margin: 1em;
    transition: opacity props.$transition-medium ease-out;
    overscroll-behavior: none;
}

a {
    color: colors.$link;
    text-decoration: none;
}
