/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use "colors";
@use "props";

@mixin custom {
    &::-webkit-scrollbar {
        background-color: transparent;

        &:horizontal {
            height: 10px;
        }

        &:vertical {
            width: 10px;
        }
    }

    &::-webkit-scrollbar-thumb {
        background-color: colors.$scrollbar;
        border-radius: props.$border-radius;
        
        &:horizontal {
            min-width: 50px;
        }

        &:vertical {
            min-height: 50px;
        }

        &:hover {
            background-color: colors.$scrollbar-hover;
        }

        &:active {
            background-color: colors.$scrollbar-pressed;
        }
    }

    &::-webkit-scrollbar-corner {
        background-color: colors.$canvas;
    }

    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: transparent;
    }
}
