/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use "sass/base";

@use "./deck-browser/deck-browser-base.scss";
@use "./overview/overview-base.scss";
@use "./toolbar/toolbar-base.scss";

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    -webkit-user-select: none;
    user-select: none;
}
