/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

@use "sass/vars" as *;
@use "sass/background-mixins";
@use "sass/elevation" as *;

body {
    padding: 1em;
    margin: 0;
    overflow: hidden;
    background: var(--canvas-elevated);
}
.preview {
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    width: 192px;
    height: 108px;
    cursor: pointer;
    overflow: hidden;
    @include elevation(4);
}
.light,
.dark {
    overflow: hidden;
    @include background-mixins.background;
}
.light {
    color: black;
    text-align: right;
    position: absolute;
    inset: 0 50% 0 0;
    > * {
        transform: translateX(50%);
    }
}
.dark {
    color: white;
    text-align: left;
    position: absolute;
    inset: 0 0 0 50%;
    > * {
        transform: translateX(-50%);
    }
}
