/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

body {
    overflow: hidden;
}

#outer {
    background: var(--glass);
    backdrop-filter: blur(var(--blur));
    :not(.fancy).hidden & {
        opacity: 0;
    }
    .hidden & {
        transform: translateY(100vh);
    }
    transition: all var(--transition) ease-in-out;
}

#header {
    border-bottom: 0;
    margin-top: 0;
    padding: 9px;
}
