@use "sass/colors";
@use "sass/props";
@import "sass/base";

// override Bootstrap transition duration
$carousel-transition: props.$transition;

input[type="text"] {
    padding-inline: 0.5rem;
    background: colors.$input-bg;
}

input {
    color: var(--fg);
}

// Setting 100% height causes the sticky element to hide as you scroll down on Safari.
html { height: initial; }
